
header{
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color:coral;
    color: whitesmoke;
    flex: 1 1 auto;
  
}
.titulo{
    margin-left: 30px;
    font-size:larger;

}

.usuario_logueado{
    float: right;
    margin-right: 30px;
    font-size:larger;
}