<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <label for="username">Usuario</label>
    <input id="username" formControlName="username" type="text" />
    <label>Contraseña</label>
      <input type="password" id="password" formControlName="password" type="text" />
    

    <!-- <mat-form-field appearance="fill" floatLabel="always" formControlName="username" >
      <mat-label>Usuario</mat-label>Usuario
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill" formControlName="password">
      <mat-label>Enter your password</mat-label>Contraseña
      <input matInput [type]="hide ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>  -->

    <div class="button">
      <button type="submit" mat-button>Login</button>
    </div>

  </form>
</div>